{% extends 'base.html' %}
{% load static %}
{% block content %}
         <!-- Page Heading -->
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tambah Data</h1>
        </div>
        <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <form style="margin: 40px;" action="">
                        {% csrf_token %}
                        {{form.as_table}}
                        <div class="btn-simpan my-4" style="display: flex;">
                            <a href="#" style="margin-right: auto;" class="btn btn-danger">
                                <span class="text">Kembali</span>
                            </a>
                            <a href="#" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Simpan</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    
{% endblock %}