html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f8f8f8;
    text-align: center;
    background-color: #fff;
    align-items: center;
}
.container{
    margin: 20px 20px;
    width: auto;
    height: auto;
}

.header {
    display: flex;
    height: 95px;
    padding: 20px 40px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    background-color: #48A63A;
}
.header a {
    color: var(--Ligt-Base, #F8F8F8);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.home{
    width: auto;
    height: 394px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(158, 173, 189, 0.15);
    background: var(--Ligt-Base, #fff);
    box-shadow: 0px 5px 14px 1px rgba(147, 147, 147, 0.10);
    padding: 20px 20px;
    margin: 0px;
}
    
.home h2{
    margin-bottom: 20px;
    color: #000000;
    text-align: left;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}